html, body {
    margin: 0;
    height: 100%;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  flex-direction: column;
}

.logo {
  color: white;
  font-family: 'Rubik', sans-serif;
}

.demo {
  font-weight: 100;
}

input[type=text], input[type=password] {
  font-weight: 100;
  font-size: 13px;
  text-indent: 35px;
  padding: 6px 10px;
  background-color: white;
  box-shadow: 0px 0px 0.6px #D1D1D1;
  box-sizing: border-box;
}

input[type=text]:placeholder {
  padding-left: 100px;
  font-weight: 100;
}

.auth-input-holder {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.UserName, .password {
  height: 35px;
  border: 0.5px solid #FAFAFA;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

.UserName:hover, .password:hover {
  border: 0.5px solid #279DF4;
}

.UserName-icon:before {
  font-family: fontAwesome;
  content: '\f0e0';
  position: relative;
  color: #E0E1E1;;
  left: 20;
  top: 25;
}

.password-icon:before {
  font-family: fontAwesome;
  content: '\f084';
  position: relative;
  color: #E0E1E1;;
  left: 20;
  top: 25;
}

.auth-button {
  margin-top: 1.75em;
  width: 15%;
  height: 40px;
}

.auth-button-go {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  outline: 0;
  border: none;
  color: #FFF;
  background-color: #4E5E9A;
  transition: background-color 2s ease;
}

.auth-button-go:hover {
  background-color: #06D6A0;
}

@keyframes move {
  from { top: 90px; left: 0px; }
  to   { top: 90px; left: 200px; }
}
.notifications-auth {
  position: fixed;
  animation: move 4s steps(10) infinite alternate;
  width: 50%;
  top: 90px;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
